body {
  max-width: 1920px;
  margin: 0;
}

.header {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
} 
.header-content{
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-social{
  width: 15%;
  padding-right: 20px;
  display: flex;
  justify-content:space-around;
  align-items: center;
}
.header-social__logo{
  width: 19px;
  height: 19px;
  object-fit: contain;
}
.main-content__image{
  position: absolute;
  z-index: -1;
  width: 100%;
  object-fit: contain;
}