body {
  max-width: 1920px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-social{
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.header-social__logo{
  width: 20px;
  height: 20px;
  
}
